@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position:absolute;
  visibility: hidden;
}

.navigation-list, .user-list, {
  text-decoration: none;
  list-style: none;
}

.navigation-list {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
}


.user-item .search {
  background-image: url(../img/icons/icon-search.svg);
  background-repeat: no-repeat;
  padding: 22px;
}

.user-item .likes {
  background-image: url(../img/icons/icon-favourites.svg);
  background-repeat: no-repeat;
  padding: 22px;
}

.button-registration {
font-family: inherit;
color: #ffffff;
background-color: #756157;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
}

.hero {
  background-color: blue ;
  background-image: url(../img/hero-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.devider {
  background-image: url(../img/hero-devider.svg);
  background-repeat: no-repeat;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subtitle + p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/*
.advantages {
  font-weight: 400;
}
*/

li.advantages-item:nth-child(1), li.advantages-item:nth-child(7) {
  background-color: #82B3D3;
}

li.advantages-item:nth-child(3), li.advantages-item:nth-child(5) {
  background: rgba(131, 179, 211, 0.12);
}

li.advantages-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.2);
}

li.residence-item:nth-child(1), li.residence-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-list, .residence-list {
  list-style: none;
}

.advantages-item, .residence-item {
text-align: center;
}


.advatnages-titles, .residence-titles {
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
color: #000000;
}

.advantages-titles-white, .subscribe-white, .subtitle-white {
  color: #ffffff;
}

.registration .button-registration {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-white {
  background-color: blue ;
  background-image: url(../img/Subscribe-back.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.button-subscribe {
  font-family: inherit;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

li.social-icon:nth-child(1) {
  background-image: url(../img/icons/icon-vk.svg);
  background-repeat: no-repeat ;
}

li.social-icon:nth-child(2) {
  background-image: url(../img/icons/icon-telegram.svg);
  background-repeat: no-repeat ;
}

li.social-icon:nth-child(3) {
  background-image: url(../img/icons/icon-YT.svg);
  background-repeat: no-repeat ;
}

.tel {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
/*
a {
  text-decoration: none;
}


  background-color: #82B3D3;

a:hover {
  color: #0088cc;
}

*/
